header {
  font-family: Helvetica, sans-serif;
  font-size: 80px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: blue;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}
